<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<body>
	<div class="container">
		<nav class="navbar navbar-dark bg-primary">
		  <a class="navbar-brand" href="/">SQ{L}uad</a>
		  <ul class="nav navbar-nav">
		    <li class="nav-item active">
		      <a class="nav-link" href='/'>Home</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href='/cs320proj'>About</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href='/cs320proj/new'>Relations</a>
		    </li>
		  </ul>
		</nav>

		<br>

		<div class="jumbotron">
				<h2> Introduction to Our Project </h2>
				<br>
			<p> Our data comes from a single source, the Pennsylvania Department of Education which records and reviews statistical information regarding schools and 
				student performance across the state. The data our team is analyzing are the Cohort Graduation Rate and the Graduate Data and Statistics. The Cohort
				Graduation Rate data compiles statistical information covering the 4-year, 5-year, and 6-year graduation rates for PA public schools. These rates are 
				a calculation of the percentage of studnts who have graduated with a regular high school diploma within a designated number of years since the student
				first entered high school. The Graduate Data reports provide information on intended post-high school activity of graduates, including college bound 
				students. By merging the information from these two sources together, a more complete report of a school's performance is revealed. </p>
		</div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>