	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<head>
	<title>CS320Proj</title>
</head>


<body>
	<div class="container">
			<nav class="navbar navbar-dark bg-primary">
		  <a class="navbar-brand" href="/">SQ{L}uad</a>
		  <ul class="nav navbar-nav">
		    <li class="nav-item active">
		      <a class="nav-link" href='/'>Home</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href='/cs320proj'>About</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href='/cs320proj/new'>Relations</a>
		    </li>
		  </ul>
		</nav>

			<br>

	<div class="jumbotron">
		  
		  <h3>Our Relations</h3>
		  <br>
		  <p>    Our team created three relations to organize the data. The three relations we created were “School”,  “Multi-Year Rates” and “Yearly Rates”.  These relations come from the Cohort Graduation Rates and Graduation Rates data from the PA Department of Education. The School relation lists information about each of the schools in PA where the data comes from. This includes the school ID, county, and type of school among other things. This allows us to categorize our schools into types and counties so we can compare the data across these fields. The Multi-Year Rates relation contains all information regarding the graduation rates of the various racial, ethnic, and socioeconomic groups categorized by the state of Pennsylvania. Using this relation we can compare how different groups perform at the high-school level and at what rates they graduate. This relation, combined with our School relation, shows how effective different schools and counties are at educating the various groups. Finally, the Yearly rates holds the data describing the education that students pursue after their high-school graduating. The data is broken down into groups of students who graduated in 4, 5, or 6 years. Like the Multi-Year rates, the data can be analyzed using the School relation to compare specific schools to each other and to the state averages. This relation also allows us to compare how well students perform given the number of years it took them to graduate high-school. 

		  </p>
		  
		 
		</div>

		</div>



</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
